version: "3"

services:
    
  nginx:
    container_name: nginx
    build:
      context: nginx/
      dockerfile: Dockerfile
    links:
      - ckan-web
    ports:
      - "0.0.0.0:80:80"

  #ckan-worker:
  #  container_name: ckan-worker
  #  build:
  #    context: ckan-worker/
  #    dockerfile: Dockerfile
  #    args:
  #      - TZ=${TZ}
  #  env_file:
  #    - .env
  #  links:
  #    - db
  #    - solr
  #    - redis
  #  ports:
  #    - "8800:8800"
  #  environment:
<<<<<<< Updated upstream
      # Defaults work with linked containers, change to use own Postgres, SolR, Redis or Datapusher
=======
  #    # Defaults work with linked containers, change to use own Postgres, SolR, Redis or Datapusher
>>>>>>> Stashed changes
  #    - CKAN_SQLALCHEMY_URL=postgresql://ckan:${POSTGRES_PASSWORD}@db/ckan
  #    - CKAN_DATASTORE_WRITE_URL=postgresql://ckan:${POSTGRES_PASSWORD}@db/datastore
  #    - CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:${DATASTORE_READONLY_PASSWORD}@db/datastore
  #    - CKAN_SOLR_URL=http://solr:8983/solr/ckan
  #    - CKAN_REDIS_URL=redis://redis:6379/0
  #    - CKAN_SITE_URL=${CKAN_SITE_URL}
  #    - CKAN_SITE_TITLE=${CKAN_SITE_TITLE}
  #    - CKAN_MAX_UPLOAD_SIZE_MB=${CKAN_MAX_UPLOAD_SIZE_MB}
  #    - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #    - DS_RO_PASS=${DATASTORE_READONLY_PASSWORD}
  #    - CKAN_PORT=${CKAN_PORT}
  
  ckan-web:
    container_name: ckan-web
    build:
      context: ckan-web/
      dockerfile: Dockerfile
      args:
        - TZ=${TZ}
    env_file:
      - .env
    links:
<<<<<<< Updated upstream
      #- ckan-worker    
=======
    #  - ckan-worker    
>>>>>>> Stashed changes
      - db
      - solr
      - redis
    ports:
      - "0.0.0.0:${CKAN_PORT}:5000"
    environment:
      # Defaults work with linked containers, change to use own Postgres, SolR, Redis or Datapusher
      - CKAN_SQLALCHEMY_URL=postgresql://ckan:${POSTGRES_PASSWORD}@db/ckan
      - CKAN_DATASTORE_WRITE_URL=postgresql://ckan:${POSTGRES_PASSWORD}@db/datastore
      - CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:${DATASTORE_READONLY_PASSWORD}@db/datastore
      - CKAN_SOLR_URL=http://solr:8983/solr/ckan
      - CKAN_REDIS_URL=redis://redis:6379/0
      - CKAN_SITE_URL=${CKAN_SITE_URL}
      - CKAN_SITE_TITLE=${CKAN_SITE_TITLE}
      - CKAN_MAX_UPLOAD_SIZE_MB=${CKAN_MAX_UPLOAD_SIZE_MB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DS_RO_PASS=${DATASTORE_READONLY_PASSWORD}
      - CKAN_PORT=${CKAN_PORT}
    volumes:
      - ckan_storage:/var/lib/ckan

  db:
    container_name: db
    build:
      context: postgresql/
      args:
        - DATASTORE_READONLY_PASSWORD=${DATASTORE_READONLY_PASSWORD}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    environment:
      - DATASTORE_READONLY_PASSWORD=${DATASTORE_READONLY_PASSWORD}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data

  solr:
    container_name: solr
    build:
      context: solr/
    volumes:
      - solr_data:/opt/solr/server/solr/ckan/data/index

  redis:
    container_name: redis
    image: amazeeio/redis:6-latest

volumes:
  ckan_storage:
  pg_data:
  solr_data: